@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');

body {
    margin: 0;
    font-family: Nunito, sans-serif;
    min-height: 100vh;
}

div#selections-display {
    display: flex;
    text-align: center;
    text-transform: lowercase;
}

div#computer-panel {
    background-color: dodgerblue;
    width: 50%;
    height: 50vh;
}

div#user-panel {
    background-color: aqua;
    width: 50%;
    height: 50vh;
}

div#user-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

input#rock {
    background-color: rgba(0, 128, 0, 0.75);
    box-shadow: 0 0.3rem rgba(0, 128, 0, 0.30);
}

input#paper {
    background-color: rgba(0, 0, 255, 0.75);
    box-shadow: 0 0.3rem rgba(0, 0, 255, 0.30);
}

input#scissors {
    background-color: rgba(238, 130, 238, 0.75);
    box-shadow: 0 0.3rem rgba(238, 130, 238, 0.30);
}

input {
    padding: 70px;
    width: 80px;
    margin: 20px auto 10px;
    border-radius: 100px;
}

input:hover {
    opacity: 85%;
}

input:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(150, 150, 150, 0.5);
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Media Query: Large smartphone (vertical) */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}